## Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [4]:
import pandas as pd

In [5]:
movies_data = pd.read_csv('movies.csv')
ratings_data = pd.read_csv('ratings.csv')
merge_data = pd.merge(ratings_data, movies_data, on=('movieId'), how='left') 
merge_data.head(10)

,userId,movieId,rating,timestamp,title,genres
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama
5,1,1263,2.0,1260759151,"Deer Hunter, The (1978)",Drama|War
6,1,1287,2.0,1260759187,Ben-Hur (1959),Action|Adventure|Drama
7,1,1293,2.0,1260759148,Gandhi (1982),Drama
8,1,1339,3.5,1260759125,Dracula (Bram Stoker's Dracula) (1992),Fantasy|Horror|Romance|Thriller
9,1,1343,2.0,1260759131,Cape Fear (1991),Thriller

In [6]:
def movies_class(row):
    if row['rating'] <= 2:
        return 'низкий рейтинг'
    elif row['rating'] <= 4:
        return 'средний рейтинг'
    else:
        return 'высокий рейтинг'

In [7]:
merge_data['class'] = merge_data.apply(movies_class, axis=1) 
merge_data.head(10)

,userId,movieId,rating,timestamp,title,genres,class
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,средний рейтинг
1,1,1029,3.0,1260759179,Dumbo (1941),Animation|Children|Drama|Musical,средний рейтинг
2,1,1061,3.0,1260759182,Sleepers (1996),Thriller,средний рейтинг
3,1,1129,2.0,1260759185,Escape from New York (1981),Action|Adventure|Sci-Fi|Thriller,низкий рейтинг
4,1,1172,4.0,1260759205,Cinema Paradiso (Nuovo cinema Paradiso) (1989),Drama,средний рейтинг
5,1,1263,2.0,1260759151,"Deer Hunter, The (1978)",Drama|War,низкий рейтинг
6,1,1287,2.0,1260759187,Ben-Hur (1959),Action|Adventure|Drama,низкий рейтинг
7,1,1293,2.0,1260759148,Gandhi (1982),Drama,низкий рейтинг
8,1,1339,3.5,1260759125,Dracula (Bram Stoker's Dracula) (1992),Fantasy|Horror|Romance|Thriller,средний рейтинг
9,1,1343,2.0,1260759131,Cape Fear (1991),Thriller,низкий рейтинг

## Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

In [8]:
geo_data = {

'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [35]:
keywords = pd.read_csv('keywords.csv')
keywords.head(5)

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2    порно псков  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [37]:
def region_name(row):
    f=0
    for dict_element in geo_data:
        for dict_value_element in geo_data[dict_element]:
            if dict_value_element in row['keyword']: 
                # хотел тут рименить row['keyword'].str.contains(dict_value_element), думая что вернут True 
                # Выдает ошибку str.contains pandas returns 'str'. получается в if он е не работает а только в фильтре датафрейма?
                f=1
                return dict_element
    if f==0:
        return 'undefined'

In [38]:
keywords['region'] = keywords.apply(region_name, axis=1)
keywords[keywords['region'] != 'undefined'].head(5)

                       keyword     shows        region
2                  порно псков  41747114  Северо-Запад
127               авито москва    979292         Центр
370   авито ру санкт петербург    425134  Северо-Запад
564  погода в санкт петербурге    292489  Северо-Запад
849            авито ярославль    209581         Центр

## Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [78]:
import re
def year_data(row):
    try:
        year = re.search(r'\d{4}', row['title']).group(0)
        if int(year) >= 1900:
            return year
        else:
            return '1900'
    except:
        return '1900'

In [84]:
merge_data['years'] = merge_data.apply(year_data,axis = 1)
years_list = merge_data.groupby('years').agg(['mean', 'count'])['rating'].reset_index().sort_values('mean', ascending=False)

In [86]:
years_list.head(10)

   years      mean  count
8   1921  4.416667     12
1   1902  4.333333      6
15  1928  4.261905     21
4   1917  4.250000      2
5   1918  4.250000      2
11  1924  4.250000     10
10  1923  4.166667      3
28  1941  4.052326    258
18  1931  4.040816     98
36  1949  4.035354     99